img{
    border: 20px solid black;
    border-radius: 160px;
    width: 20%;
}
h1{
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    color: darkred;
    text-align: center;
}

body{
    font-family: Georgia, Times, serif;
    background-color: beige;
}
Ul{
    list-style-type: stars;
    margin: 5%;
    border: 1px dotted darkred;
    width: 30%;
}